<%= render "shared/header" %>

<div class='user-main'>
  <div class="user-main-info">
    <div class="user-name">
      <p><i class="fa-solid fa-pen"></i> USER NAME</p>
      <div class="subtitle" ><%= @user.nickname %></div>
    </div>
    <%# ActiveHashのnameカラムを表示させる %>
    <div class="user-personal">
      <p><i class="fa-solid fa-pen"></i> USER TYPE</p>
      <%= @user.family_type.name %><br>
      <%= @user.eatout_freq.name %><br>
      <%= @user.appetite.name %><br>
    </div>

    <div class="user-edit">
      <%= link_to '編集', "#", class: "user-edit-btn" %>
    </div>
  </div>

  <div class='box-contents'>
    <div class="subtitle" ><%= @user.nickname %>さんのMY FRiDGE
    </div>
    <ul class='item-lists'>
      <% @boxes.each do |box| %>
        <li class='list'>
          <%= link_to box_path(box.id) do %>
            <div class='item-img-content'>
              <%= image_tag box.image, class: "item-img" %>
              <h3 class='item-name'>
                <%= box.box_title %>
              </h3>
            </div>
            <div class='item-info'>
            <% count = 0%>
            <% @box_tag_list.each do |relation| %>
              <% if box.id == relation.box_id %>
                <div class='item-tag'>
                  <%= relation.boxtag.tag_name %>
                  <% count = count + 1 %>
                </div>
              <% end %>
            <% end %>
            <% if count == 0 %>
              <div class='item-tag'>未登録</div>
            <% end %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= render "shared/footer" %>