<%= render "shared/header" %>

<div class="item-contents">
  <h2 class="items-sell-title">冷蔵庫 <i class="fa-solid fa-box-archive"></i> の食材を編集します</h2>
  <div class="tab-area">
    <div class="tab" id="tab-fish" data-value='1' >
      <i class="fa-solid fa-fish fa-2x"></i>Fish
    </div>
    <div class="tab" id="tab-veg" data-value='2' >
      <i class="fa-solid fa-carrot fa-2x"></i>Vegitable
    </div>
    <div class="tab" id="tab-meat" data-value='3'>
      <i class="fa-solid fa-cow fa-2x"></i>Meat
    </div>
    <div class="tab" id="tab-drink" data-value='4'>
      <i class="fa-solid fa-wine-bottle fa-2x"></i>Drink
    </div>
    <div class="tab" id="tab-flozen" data-value='5'>
      <i class="fa-solid fa-ice-cream fa-2x"></i>Flozen
    </div>
  </div>

  <div class="content-area">
    <%= form_with model: @form, url: box_path, method: :PATCH, local: true do |form| %>
      <%= render 'shared/foods_error_messages', model: @form %>
      <div class="content">
        <%= render partial: 'shared/fields_for', locals:{ form: form, i: 1 } %>
      </div>

      <div class="content">
        <%= render partial: 'shared/fields_for', locals:{ form: form, i: 2 } %>
      </div>

      <div class="content">
          <%= render partial: 'shared/fields_for', locals:{ form: form, i: 3 } %>
      </div>

      <div class="content">
        <%= render partial: 'shared/fields_for', locals:{ form: form, i: 4 } %>
      </div>

      <div class="content">
        <%= render partial: 'shared/fields_for', locals:{ form: form, i: 5 } %>
      </div>

      <div class="sell-btn-contents">
        <%= form.submit "登録する" ,class:"sell-btn", id:"food-btn" %>
        <%=link_to 'もどる', root_path, class:"back-btn" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>