<%= render "shared/header" %>
<% if user_signed_in? %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      時間と食材のロスをなくす
    </h2>
    <p class='service-explain'>
      FURiGEは「おとなり」の冷蔵庫が見られる
    </p>
    <p class='service-explain'>
      新感覚のアプリケーションです
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
      <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>

  <%# FURIMAが選ばれる3つの理由部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      FRiGEの3つの特徴
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag 'salespoint1.jpeg', class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>簡単</span>
          にMy冷蔵庫登録
        </h3>
        <p class='reason-list-description'>
          スマホで冷蔵庫の食材をらくらく入力
        </p>
      </li>
      <li class='list'>
        <%= image_tag "salespoint2.jpeg", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>時短</span>
          機能がいっぱい
        </h3>
        <p class='reason-list-description'>
          いろんなユーザーの冷蔵庫から買い出しのアイデアをいただこう!<br>
          今ある食材からレシピを提案してくれる!
        </p>
      </li>
      <li class='list'>
        <%= image_tag "salespoint3.jpeg", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          不要な食べ物を
          <span class='reason-list-blue-text'>必要な人に</span>
        </h3>
        <p class='reason-list-description'>
          食べなくなった食材をお譲りできます!
        </p>
      </li>
    </ul>
  </div>
  <%# /FURIMAが選ばれる3つの理由部分 %>


  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>みんなのMY FRiDGE</h2>
    <div class="subtitle" >
      新規投稿の冷蔵庫
    </div>
    <ul class='item-lists'>
      <% @boxes.each do |box| %>
        <li class='list'>
          <%= link_to box_path(box.id), data: {"turbolinks" => false } do %>
            <div class='item-img-content'>
              <%= image_tag box.image, class: "item-img" %>
              <h3 class='item-name'>
                <%= box.box_title %>
              </h3>
            </div>
            <div class='item-info'>
            <% count = 0%>
            <% @box_tag_list.each do |relation| %>
              <% if box.id == relation.box_id %>
                <div class='item-tag'>
                  <%= relation.boxtag.tag_name %>
                  <% count = count + 1 %>
                </div>
              <% end %>
            <% end %>
            <% if count == 0 %>
              <div class='item-tag'>未登録</div>
            <% end %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<%= render "shared/footer" %>

<% else %>
    <div class="swiper-container vertical-slider">
      <div class="swiper-wrapper vertical-slider__wrapper">
        <div class="swiper-slide vertical-slider__slide">SLIDE 1</div>
        <div class="swiper-slide vertical-slider__slide">SLIDE 2</div>
        <div class="swiper-slide vertical-slider__slide">SLIDE 3</div>
        <div class="swiper-slide vertical-slider__slide">SLIDE 4</div>
        <div class="swiper-slide vertical-slider__slide">SLIDE 5</div>
      </div>
      <div class="swiper-pagination vertical-slider__pagination"></div>
    </div>
<% end %>