<%= render "shared/header" %>
<% if user_signed_in? %>
<div class='main'>

  <div class='title-contents'>
    <div class="title-box">
      <h2 class='title'>MY冷蔵庫を登録</h2>
      <p>冷蔵庫の食材を登録して、今日の献立のヒントにしよう!</p>
      <div class="title-img-box">
        <%= link_to image_tag("fridge-index-box1.png", class: "title-item-img"), new_box_path %>
      </div>
    </div>
    <div class="title-box">
      <h2 class='title'>食材を譲る</h2>
      <p>冷蔵庫の食べなくなった食材を必要な人に譲ろう!</p>
      <div class="title-img-box">
        <%= link_to image_tag("fridge-index-box2.png", class: "title-item-img"), "#" %>
      </div>
    </div>
  </div>
  
  <%# 冷蔵庫一覧 %>
  <div class='item-contents'>
    <h2 class='title'>みんなのMY FRiDGE</h2>
    <div class="subtitle" >
      新規投稿の冷蔵庫
    </div>
    <ul class='item-lists'>
      <% @boxes.each do |box| %>
        <li class='list'>
          <%= link_to box_path(box.id), data: {"turbolinks" => false } do %>
            <div class='item-img-content'>
              <%= image_tag box.image, class: "item-img" %>
              <h3 class='item-name'>
                <%= box.box_title %>
              </h3>
            </div>
            <div class='item-info'>
            <% count = 0%>
            <% @box_tag_list.each do |relation| %>
              <% if box.id == relation.box_id %>
                <div class='item-tag'>
                  <%= relation.boxtag.tag_name %>
                  <% count = count + 1 %>
                </div>
              <% end %>
            <% end %>
            <% if count == 0 %>
              <div class='item-tag'>未登録</div>
            <% end %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>

<div class="foot-pagination">
  <%= paginate @boxes, theme: 'bootstrap-5' %>
</div>

<%= render "shared/footer" %>

<% else %>
    <div class="swiper-container vertical-slider">
      <div class="swiper-wrapper vertical-slider__wrapper">
        <div class="swiper-slide vertical-slider__slide">SLIDE 1</div>
        <div class="swiper-slide vertical-slider__slide">SLIDE 2</div>
        <div class="swiper-slide vertical-slider__slide">SLIDE 3</div>
        <div class="swiper-slide vertical-slider__slide">SLIDE 4</div>
        <div class="swiper-slide vertical-slider__slide">SLIDE 5</div>
      </div>
      <div class="swiper-pagination vertical-slider__pagination"></div>
    </div>
<% end %>