<%= render "shared/header" %>

  <div class='fridge-main'>
    <div class="fridge-img">
      <div class='item-img-content-show'>
        <%= image_tag @box.image, class: "item-img-show" %>
        <h3 class='item-name'>
          <i class="fa-solid fa-box-archive"></i><%=  @box.box_title %>
        </h3>
      </div>
    </div>
    <div class="fridge-info">
      <div class="item-info">
        <p><i class="fa-solid fa-pen"></i> DESCRIPTION</p>
        <%= @box.description %>
      </div>
      <%# タグ表示 %>
      <div class='item-info'>
        <p><i class="fa-solid fa-tags"></i> TAGS</p>
        <% count = 0%>
        <% @box_tag_list.each do |relation| %>
          <% if @box.id == relation.box_id %>
            <div class='item-tag'>
              <%= relation.boxtag.tag_name %>
              <% count = count + 1 %>
            </div>
          <% end %>
        <% end %>
        <% if count == 0 %>
          <div class='item-tag'>未登録</div>
        <% end %>
      </div>
    </div>
    <div class="user-info">
      <div class="item-info">
        <p><i class="fa-solid fa-pen"></i> USER NAME</p>
        <%= @box.user.nickname %>
      </div>
      <%# ActiveHashのnameカラムを表示させる %>
      <div class="item-info">
        <p><i class="fa-solid fa-pen"></i> USER TYPE</p>
        <%= @user.family_type.name %><br>
        <%= @user.eatout_freq.name %><br>
        <%= @user.appetite.name %><br>
      </div>
    </div>

  </div>


  <div class='item-contents'>
    <% if @foods.present? %>
      <div class="subtitle" ><%= @box.box_title %>の食材一覧
      </div>
      <div class="tab-area">
        <div class="tab active" id="tab-fish-show">
          <i class="fa-solid fa-fish fa-2x"></i>Fish
        </div>
        <div class="tab" id="tab-veg-show">
          <i class="fa-solid fa-carrot fa-2x"></i>Vegitable
        </div>
        <div class="tab" id="tab-meat-show">
          <i class="fa-solid fa-cow fa-2x"></i>Meat
        </div>
        <div class="tab" id="tab-drink-show">
          <i class="fa-solid fa-wine-bottle fa-2x"></i>Drink
        </div>
        <div class="tab" id="tab-ice-show">
          <i class="fa-solid fa-ice-cream fa-2x"></i>Flozen
        </div>
      </div>
      <div class="content-area">
        <%# ▼食材表示部分 %>
        <div class="content show">
          <%= render partial: 'shared/food_list', locals:{ foods: @foods, i: 1 } %>
        </div>
        <div class="content">
          <%= render partial: 'shared/food_list', locals:{ foods: @foods, i: 2 } %>
        </div>
        <div class="content">
          <%= render partial: 'shared/food_list', locals:{ foods: @foods, i: 3 } %>
        </div>
        <div class="content">
          <%= render partial: 'shared/food_list', locals:{ foods: @foods, i: 4 } %>
        </div>
        <div class="content">
          <%= render partial: 'shared/food_list', locals:{ foods: @foods, i: 5 } %>
        </div>
      </div>
      <%# ▲カテゴリ毎に配置 %>

      <%# ▼楽天レシピAPIのレシピランキングを表示 %>
      <div class="recipe-main">
        <ul class="recipe-ul" id="recipe_list"></ul>
      </div>
      <%# ▲楽天レシピAPIのレシピランキングを表示 %>


    <% else %>
      <div class="items-sell-main">
        <div class="subtitle" ><%= @box.box_title %>の食材を登録しましょう!!
        </div>

        <div class="sell-btn-contents">
          <div class="sell-btn1">
            <%= link_to "食材登録", new_box_food_path(@box.id), data: {"turbolinks" => false }, class:"sell-btn" %>
          </div>
          <div class="back-btn1">
            <%= link_to 'もどる', root_path, class:"back-btn" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<%= render "shared/footer" %>