<%= render "shared/header" %>

  <div class='fridge-main'>
    <%# 冷蔵庫エリア %>
    <div class='fridge-wrap'>
      <div class='fridge-header-info'>
        <p class='fridge-header-text'>
          <%= @user.nickname %>さんのMY FRiDGE
        </p>
      </div>
      <%# 冷蔵庫が1つでも登録されていたら、冷蔵庫を表示 %>
      <div class="fridge-nav">
        <div class='item-img-content-show'>
          <%= image_tag @box.image, class: "box-item-img" %>
          <h3 class='item-name'>
            <%= @box.box_title %>
          </h3>
        </div>
        <div class='fridge-info'>
          <div class='user-group'>
            <div class='user-text-wrap'>
              <label class="user-text">冷蔵庫の紹介</label>
            </div>
            <div class='input-name-wrap'>
                <%= @box.description %>
            </div>
          </div>
          <div class="item-info">
            <% count = 0%>
            <% @box_tag_list.each do |relation| %>
              <% if @box.id == relation.box_id %>
                <div class='item-tag'>
                  <%= relation.boxtag.tag_name %>
                  <% count = count + 1 %>
                </div>
              <% end %>
            <% end %>
            <% if count == 0 %>
              <div class='item-tag'>未登録</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%# パーソナリティ情報 %>
    <div class="user-info-wrap">
      <div class="user-middle-info">
        <p class='user-middle-text'>
          パーソナリティ情報
        </p>
      </div>
      <div class="user-group">
        <div class='user-text-wrap'>
          <label class="user-text">家族構成</label>
        </div>
        <div class='input-name-wrap'>
            <%= @user.family_type.name %>
        </div>
      </div>
      <div class="user-group">
        <div class='user-text-wrap'>
          <label class="user-text">外食の頻度</label>
        </div>
        <div class='input-name-wrap'>
            <%= @user.eatout_freq.name %>
        </div>
      </div>
      <div class="user-group">
        <div class='user-text-wrap'>
          <label class="user-text">一般的な食欲</label>
        </div>
        <div class='input-name-wrap'>
            <%= @user.appetite.name %>
        </div>
      </div>
    </div>
  </div>

  <div class='item-contents'>
  <% if @foods.present? %>
    <div class="subtitle" ><%= @box.box_title %>の食材一覧
    </div>
    <div class="tab-area">
      <div class="tab active" id="tab-fish-show">
        <i class="fa-solid fa-fish fa-2x"></i>Fish
      </div>
      <div class="tab" id="tab-veg-show">
        <i class="fa-solid fa-carrot fa-2x"></i>Vegitable
      </div>
      <div class="tab" id="tab-meat-show">
        <i class="fa-solid fa-cow fa-2x"></i>Meat
      </div>
      <div class="tab" id="tab-drink-show">
        <i class="fa-solid fa-wine-bottle fa-2x"></i>Drink
      </div>
      <div class="tab" id="tab-ice-show">
        <i class="fa-solid fa-ice-cream fa-2x"></i>Flozen
      </div>
    </div>
      <div class="content-area">
        <%# ▼食材表示部分 %>
        <div class="content show">
          <%= render partial: 'shared/food_list', locals:{ foods: @foods, i: 1 } %>
        </div>
        <div class="content">
          <%= render partial: 'shared/food_list', locals:{ foods: @foods, i: 2 } %>
        </div>
        <div class="content">
          <%= render partial: 'shared/food_list', locals:{ foods: @foods, i: 3 } %>
        </div>
        <div class="content">
          <%= render partial: 'shared/food_list', locals:{ foods: @foods, i: 4 } %>
        </div>
        <div class="content">
          <%= render partial: 'shared/food_list', locals:{ foods: @foods, i: 5 } %>
        </div>
      </div>
      <%# ▲カテゴリ毎に配置 %>

      <%# ▼楽天レシピAPIのレシピランキングを表示 %>
      <div class="recipe-main">
        <ul class="recipe-ul" id="recipe_list"></ul>
      </div>
      <%# ▲楽天レシピAPIのレシピランキングを表示 %>


    <% else %>
      <div class="items-sell-main">
        <div class="subtitle" ><%= @box.box_title %>の食材が登録されていません
        </div>
        <div class="sell-btn-contents">
        <% if user_signed_in? && current_user.id == @box.user_id %>
          <%= link_to "食材を登録しましょう!", new_box_food_path(@box.id), data: {"turbolinks" => false }, class:"sell-btn" %>
        <% end %>
          <%= link_to 'もどる', root_path, class:"back-btn-show" %>
        </div>
      </div>
    <% end %>
  </div>
<%= render "shared/footer" %>