<h2>選択されている食材カテゴリ : <i class="fa-solid fa-fish"></i>Fish </h2>
<table class="item-table">
  <thead>
    <tr class="item-tr">
      <th>登録</th>
      <th>食材名</th>
      <th>個数</th>
      <th>購入日</th>
      <th>消費期限</th>
      <th>購入価格</th>
    </tr>
  </thead>
  <%# TODO : フォーム追加できるようにする。https://web-tsuku.life/add-form-appendchild/ %>
  <tbody>
    <%= form.fields_for :foods do |f| %>
      <tr class="item-tr">
        <td><%= f.check_box :availability, {}, "true", "false" %></td>
        <td><%= f.text_field :food_title %></td>
        <td><%= f.number_field :number_title, min: 1, max: 99 %></td>
        <td><%= f.date_field :purchase_date %></td>
        <td><%= f.date_field :expiry_date %></td>
        <td><%= f.text_field :price %></td>
        <% case i %>
          <% when 1 then%>
            <td><%= f.hidden_field :category_id, class:"send-data-fish" %></td>
          <% when 2 then%>
            <td><%= f.hidden_field :category_id, class:"send-data-veg" %></td>
          <% when 3 then%>
            <td><%= f.hidden_field :category_id, class:"send-data-meat" %></td>
          <% when 4 then%>
            <td><%= f.hidden_field :category_id, class:"send-data-drink" %></td>
          <% when 5 then%>
            <td><%= f.hidden_field :category_id, class:"send-data-flozen" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
