<%= render "shared/header" %>

<div class="item-contents">
  <h2 class="items-sell-title">食材 <i class="fa-solid fa-box-archive"></i> を登録しよう</h2>
  <h3>登録する食材のカテゴリを選ぼう!</h3>
  <div class="tab-area">
    <div class="tab active" id="tab-fish" data-value='1' >
      <i class="fa-solid fa-fish fa-2x"></i>Fish
    </div>
    <div class="tab" id="tab-veg" data-value='2' >
      <i class="fa-solid fa-carrot fa-2x"></i>Vegitable
    </div>
    <div class="tab" data-value='3'>
      <i class="fa-solid fa-cow fa-2x"></i>Meat
    </div>
    <div class="tab" data-value='4'>
      <i class="fa-solid fa-wine-bottle fa-2x"></i>Drink
    </div>
    <div class="tab" data-value='5'>
      <i class="fa-solid fa-ice-cream fa-2x"></i>Flozen
    </div>
  </div>
  
  <%# <div class="items-sell-main"> %>
  <div class="content-area">
    <%= form_with model: @form, url: box_foods_path, method: :post, local: true do |form| %>
      <%= render 'shared/foods_error_messages', model: @form %>
        <%# TODO : 1回ロードしないとタブ切り替えができない問題を解消する %>
        <%# TODO : フォーム追加できるようにする。https://web-tsuku.life/add-form-appendchild/ %>
      <div class="content show">
        <%= render partial: 'shared/fields_for', locals:{ form: form } %>
      </div>

      <div class="content">
        <%= render partial: 'shared/fields_for', locals:{ form: form } %>
      </div>

      <div class="content">
          <%= render partial: 'shared/fields_for', locals:{ form: form } %>
      </div>

      <div class="content">
        <%= render partial: 'shared/fields_for', locals:{ form: form } %>
      </div>

      <div class="content">
        <%= render partial: 'shared/fields_for', locals:{ form: form } %>
      </div>

      <div class="sell-btn-contents">
        <%= form.submit "登録する" ,class:"sell-btn", id:"food-btn" %>
        <%=link_to 'もどる', root_path, class:"back-btn" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>